.MainTable{
  width: 100%;
  display: table;
  margin-top: .5%; 
  margin-bottom: 5vh;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
  }

.ModificationByFieldTable__Caption{
  display: table-caption;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.MainTable__Header{
  display: table-header-group;
  font-weight: 300;
  font-size: 10px;
}

.MainTable__Cell {
  display: table-cell;
  padding: .3%;
  padding-top: .5%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;

}

.MainTable__Body{
  display: table-row-group;
}

.MainTable__Row{
  display: table-row;  
}

.MainTable__Body__Cell{
  padding: .1%;
  text-align: justify;
  display: table-cell;
  font-size: 16px;
}


