.MainTable{
  width: 100%;
  display: table;
  
  }
.ModificationByFieldTable__Caption{
  display: table-caption;
text-align: center;
font-size: 30px;
font-weight: bold;

}
.MainTable__Header{
  display: table-header-group;
  background-color: gray;
  font-weight: 300;
  font-size:10px;
  
}

.MainTable__Cell{

display: table-cell;
padding: 3px;
text-align: center;
color: white;
font-weight: bold;
/* background-color: #1C4E80; */
/* background-color: #1F3F49; */
background-color: #253666;
border: grey solid 1px;

font-size: 15px;
}
.MainTable__Body{
  
  display: table-row-group;
  
}
.MainTable__Row{
  display: table-row;
  /* max-width: 50vw; */
  
}

.MainTable__Body__Cell{
  
  border: grey solid 1px;
  text-align: justify;
  display: table-cell;
  font-size: 15px;
}

