.forgotPassword {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#userEmail-Inp {
    width: 20%;
    height: 2rem;
    margin-bottom: 0.5rem;  
}

.forgotPassword button {
    width: 20%;
    height: 2rem;   
    margin-top:0.5rem;
}