.ChangeOfJiraTicketWrapper{
  display: grid;
  grid-template-columns: 1vw 84vw auto;
  grid-template-rows: 7vh 12vh 5vh auto;
  grid-template-areas: 
  "header header header "
  ". filterButtons ."
  ". . ."
  "chartColors chart .";
  
  background-color: #C8C9C7;
  }
  .ChangeOfJiraTicket__Table{
    grid-area: Table;
  }

  .chart_Colors{
    margin-left: 10px;
    grid-area: chartColors;
    justify-content: center;
    justify-content: space-around;
  }
  .chart_Colors_Status{
    margin-bottom: 5px;
    font:bolder;
    font-size: 20px;
    color:#C8C9C7;
    background-color: #D9514EFF;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
  }
  .chart_Colors_Priority{
    margin-bottom: 5px;
    font: bolder;
    font-size: 20px;
    color: #C8C9C7;
    background-color: #2A2B2DFF;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
  }
  .chart_Colors_QaRepresentative{
    margin-bottom: 5px;
    font: bolder;
    font-size: 20px;
    color:#C8C9C7;
    background-color: #2DA8D8FF;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
  }
  .ChangeOfJiraTicket__Title{
    font-weight: 500;
    grid-area: header;
    text-align: center;
    color: #00447C;
    background-color: white;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    padding-top: 2vh;
  }
  .ChangeOfJiraTicket__Filters__wrapper {
    grid-area: filterButtons;
    display: grid;
    height: 13vh;
    background-color: #eeeeee;
    align-items: center;
    text-align: center;
    padding: 1%;
    border-radius: 3px;
    margin-top: 1%;
  }
  
  .ChangeOfJiraTicket__Filters__headers{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #0076ce;
    text-shadow: 0 .1rem .3rem#00447c28;
  }
  
  .filter__header__item{
    justify-content: space-between;
    width: 12vw;
    /* background-color: red; */
  }
  
  .ChangeOfJiraTicket__Filters__fields {
    display: flex;
    justify-content: space-between;
  }
  
  
  .ChangeOfJiraTicket__Filter{
   width: 12vw;
   /* border: 0.1px solid black; */
   box-sizing: border-box;
   background-color:   #EEEEEE;
   color: black;
   box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  }
  .ChangeOfJiraTicket__Filter__date{
    box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    /* border: .1px solid rgba(0, 0, 0, 0.2); */
    border:none;
    height: 4.5vh;
    width: 12vw;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 15px;
  }

  .ChangeOfJiraTicket__Submit{
    width: 15%;
    background-color: #C8C9C7;
  }
  .ChangeOfJiraTicket__Chart{
    grid-area: chart;
  }

.ChangeOfJiraTicket__Filters__Header > p {
  text-align: center;
  color: #444444;
  font-weight: bold;
  padding-bottom: 1%;
  }