.commitPassword-wrapper {
    background-color: #C8C9C7;
    display: grid;
    grid-template-columns: 13.5vw 60vw 13.5vw;
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-areas: 
    ". . ."
    
    ". box ."
    ". . .";
}

.confirmCodeForm{
    height: 50vh;
    padding: 3rem;
    grid-area: box;
    font-family: 'Roboto Slab', serif;
    background-color: #EEEEEE;
    justify-content: space-around;
    box-shadow:0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 4rem;
}

.confirmCodeForm input {
    align-items: center;
    text-align: center;
    position: inherit;
    margin-top: 5rem;
    width: 30vw;
    height:3rem;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5rem;
    box-shadow:inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    border:none;
}

.confirmCodeForm button {
    /* margin-left: 1rem; */
    width:50%;
    height:2.5rem;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 3px;
    margin-bottom: 0.5vh;
    background-color: #808080;
    border: none;
    color:#FFFFFF;
    box-shadow:0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}
