.main-nav {
    height: 7rem;
    border-bottom: 1px #001f3f solid;
}

.main-nav__nav-items {
    display: flex;
    height: 100%;
}


.inactive {
    color: black;
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #e4decd;
}

.inactive:nth-child(1) {
    border-right: 1px solid black;
}

.inactive:hover {
    text-decoration: none;
    color: black
}

.active {
    color: #fff;
    background-color: #2d545e;
    text-decoration: none;
}

.active:hover {
    text-decoration: none;
    color: #fff;
}