* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.sidebar__header-wrapper {
  /* background-color:#405c0b; */
  height: 10vh;
  grid-area: header;
  background-color: white;
  text-align: center;
  padding-top: 2.2vh;
  color: #00447c;
  font-weight: 800;
  font-size: 29px;
  font-family: "Roboto Slab", serif;
}

.app {
  background-color: #c8c9c7;
  display: grid;
  grid-template-columns: 13vw auto;
}

/*
.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;

} */
/* 
.social-media i{
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color:rgb(148, 114, 130);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
} */

/* .social-media i:hover{
  background-color:  rgb(223, 166, 192);
}  */
