*{
  margin:0;
  padding:0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.sidebar{
  background-color: #EEEEEE;
  height: 100vh;
  width: 13vw;
  display: grid;
  grid-template-columns: 1.1vw 11.2vw .7vw;
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-areas: 
  "header header header"
  ". menu ."
  " footer footer footer "; 


}




.app{
  background-color:#C8C9C7; 
  display: grid;
  grid-template-columns: 13vw auto;
}

.mainPage{
  overflow-y: scroll;
  height: 100vh;
}




/*
.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;

} */
/* 
.social-media i{
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color:rgb(148, 114, 130);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
} */

/* .social-media i:hover{
  background-color:  rgb(223, 166, 192);
}  */
