
    .adminPage {
    display: grid;
    grid-template-columns: 17vw 50vw auto;
    grid-template-rows: 7vh 10vh 70vh auto;
    grid-template-areas: 
    "header__A header__A header__A"
    ". . ."
    ". tablee ."
    ". . .";

    background-color: #c8c9c7;
    }

    .header__Admin{
        font-weight: 500;
        grid-area: header__A;
        text-align: center;
        color: #00447c;
        background-color: white;
        height: 7vh;
        font-family: "Roboto Slab", serif;
        font-size: 26px;
        padding-top: 2vh;
      }



    .showNotActive__btn, .showActive__btn, .audit__btn {
        height: 3rem;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        color: white;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        background-color:#444444;
        font-size: 16px;
        width: 9rem; 
        margin-top: .6%;
        left: 87%;
        border: none;
        position: relative; 
    }
    .showNotActive__btn:hover, .showActive__btn:hover, .audit__btn:hover {
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        color:white;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        background-color: #808080;
        font-size: 16.3px;
    } 


    .filters{
        margin-top:1%;
        display: flex;
        flex-direction: row;
        width: 84%;
        margin-left: 7.9%;
        justify-content: space-between;
    }


    .filter{
        background-color: white;
        margin-right: 1%;
        padding:1rem;
        width: 20%;
        border: none;
        box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
        text-align: center;
        letter-spacing: .2px;
        font-size: 17px; 
    }

    .filters button{
        background-color:  #EE6411;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        width: 14%;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        color:white;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 1px;
        border:none;
        transition: all .1s;
    }

    .filters button:hover{
        font-size: 19px;
        background-color:  #ee66119a;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);

    }

    .TableBody_UserList{
        grid-area: tablee;
        width: 100%; 
        align-items: center;
        margin-top: 1%;
        text-align: center;
    }
    #item{
        width: 17%;
        font-size: 16px;
        height: 4.5vh;
        margin-right: 1%;
        box-shadow: inset 0 0.1rem .3rem rgba(0, 0, 0, 0.2);
        background-color: white;
        text-align: center;
        letter-spacing: .5px;
        margin-bottom: .2%;
    }

    #item__slt{
        width: 15%;
        font-size: 16px;
        color: black;
        /* text-align: center; */
        height: 4.5vh;
        margin-right: 1%;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        padding-left: 1%;
        background-color: white;
        border:none;
    }

    #item__btn__delete{
        width: 6%;
        height: 4.5vh;
        margin-right: .5rem;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        border:none;
        color:white;
        font-weight: 500;
        font-size: 16px;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        background-color:   #CE1126;
        /* letter-spacing: .5px; */
    }
    
    #item__btn__delete:hover{
        background-color:   #ce11279b;
        font-size: 16.3px;
        color: #EEEEEE;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);

    }
    #item__btn__edit{
        width: 6%;
        height: 4.5vh;
        /* letter-spacing: .5px; */
        margin-right: .6%;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        border:none;
        color:white;
        font-weight: 500;
        font-size: 16px;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        background-color:  #F2AF00;
    }
    #item__btn__edit:hover{
        background-color:  #f2ad0096;
        color: #EEEEEE;
        font-size: 16.3px;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);

    }

    #item__btn__save{
        width: 6%;
        height: 4.5vh;
        margin-bottom: .3%;
        margin-top: .3%;
        margin-right: .5%;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        border:none;
        /* letter-spacing: .5px; */
        color:white;
        font-weight: 500;
        font-size: 16px;
        background-color:  #0076CE;
    }
    #item__btn__save:hover{
        background-color:  #0075cea2;
        font-size: 16.3px;
        color: #EEEEEE;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);

    }

    #item__btn__active {
        width: 6%;
        height: 4.5vh;
        margin-bottom: .3%;
        margin-top: .3%;
        margin-right: .5%;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        border:none;
        /* letter-spacing: .5px; */
        color:white;
        font-weight: 500;
        font-size: 16px;
        background-color:  #6EA204; 
    }

    #item__btn__active:hover{
        background-color:  #6da2048e;
        font-size: 16.3px;
        color: #EEEEEE;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);

    }



