.chart__Wrapper{
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: 45vh auto;
  grid-template-areas: 
  "chart "
  "table "
  ; 
  text-align: center;
  margin-bottom: 5vh;
  padding-top: .5%;
  padding: 2%;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: #EEEEEE;
}

.chart{
  grid-area: chart;
  overflow-x: scroll;
  padding-top: .5%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
  display: flex; 


}

.chart__Each_column{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
  min-width: 10vw;
  
}
.chart__column{
  height: 73%;
  text-align: center; 
  align-items: center;
  margin-left: 2%;
  cursor: pointer;
  margin-top: 2%;
}
.chart__column__Text{
  visibility: visible;
  color: #444444;
  text-align: center;
  border-radius: 3px;
  position: relative;
  top: -5.5vh;
  max-width: 15vw;
  max-height: 7vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart__innerColumn{
  transition: height .6s ease-in;
  width: 4vw;
  min-height: 9%;
  margin-right: .5%;
  /* padding-top: 3%; */
  border-radius: 5px 5px 0px 0px;
  box-shadow:0 .1rem .3rem rgba(0, 0, 0, 0.3);
  text-shadow:0 .1rem .3rem rgba(0, 0, 0, 0.1);
  background-color: #B7295A;  
  font-family: 'Roboto Slab', serif;
  color: white;
}
.chart__innerColumn:hover {
  background: #c46083; 
}
.chart__label{

  color:#C8C9C7; 
  background-color: #444444;
  font-size: 100%;
  font-weight: 500;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  text-shadow: 0 .1rem .3rem rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  /* border:1px solid #C8C9C7; */
  /* color: white; */
  height: 4vh;
  margin-top: 2%;
  width: 100%;
  padding: 1%;
  /* margin: auto; */
}
.Chart__Table{
  grid-area: table;
  margin-top: 1%;
  width: 100%;
}
.warningDisplay , h4 {
  position: relative;
  left:40vw;
  top: 50%;
  transform: translate(-50%,-50%);
  

}

.allTasksButton {
  border-radius: 4px;
  background : #41B6E6;
  /* background-color: #EE6411;   */
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: .5%;
  width: 9vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1.5%;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
}

.allTasksButton:hover{
  background-color: #56a9ca;
}

.allTasksButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.allTasksButton span:after {
  content: "\25be ";
  position: absolute;
  background-color: #56a9ca;
  opacity: 0;
  top: 0;
  right: -17%;
  transition: 0.5s;
}

.allTasksButton:hover span {
  padding-right: 17%;
  background-color: #56a9ca;

}

.allTasksButton:hover span:after {
  opacity: 1;
  right: 0;
  background-color: #56a9ca;
}