.chart__Wrapper{
  display: grid;
  grid-template-columns: 100% ;
  grid-template-rows: 45vh auto;
  grid-template-areas: 
  "chart "
  "table "
  ; 
  text-align: center;
  background-color: #EEEEEE;
  box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.chart{
  grid-area: chart;
  overflow-x: scroll;
  
  height:100%;
  width: 99%;
  /* height:auto; */
 
  background-color: whitesmoke;
  /* margin: auto; */
  
  
  display: flex;
  
  
}

.chart__Each_column{
  display: flex;
  justify-content: space-around  ;
  align-items: flex-end;
  /* width: 100%; */
 height: 100%;
 
}
.chart__column{
  height: 75%;
  text-align: center; 
  margin-left: 3%;
  cursor: pointer;
  margin-top: 50px;
}
.chart__column__Text{
  visibility: visible;
  color: black;
  text-align: center;
  border-radius: 6px;
  position: relative;
  top: -50px;
  max-width: 150px;
  max-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart__innerColumn{
  transition: height .7s ease-in;
  width: 100px;
  min-height: 17px;
  margin-right: 1px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
  background: #195e96; 
  font-family: 'Roboto Slab', serif;
  color: white;
}
.chart__innerColumn:hover {
  background: steelblue; 
}
.chart__label{
  background : white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
  border-radius: 5px;
  /* border:1px solid #C8C9C7; */
  /* color: white; */
height: 25px;
  width: 100%;
  /* margin: auto; */
}
.Chart__Table{
  grid-area: table;
  margin-top: 2rem;
 width: 100%;
  
  /* padding-right: 10rem; */
}
.warningDisplay , h4 {
  position: relative;
  left:40vw;
  top: 50%;
  transform: translate(-50%,-50%);
  

}