.chart__Wrapper{
  display: grid;
  grid-template-columns:1vw 70vw 1vw;
  grid-template-rows: 40vh auto;
  grid-template-areas: 
  ".chart ."
  ".table ."
  ;
  padding-top: 2rem;
  justify-content: space-around  ;
  text-align: center;
  background-color: #EEEEEE;
  box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
.chart{
  grid-area: chart;
  /* overflow-x: auto; */
  
  width: 99%;
  /* height:auto; */
 
  background-color: whitesmoke;
  /* margin: auto; */
  
  
  display: flex;
  justify-content: space-around  ;
  align-items: flex-end;
  
}

.chart__Each_column{
  display: flex;
  justify-content: space-around  ;
  align-items: flex-end;
  width: 100%;
 height: 100%;
}
.chart__column{
  height: 90%;
  width: 100%;
  text-align: center; 
  transition: height .7s ease-in;
  cursor: pointer;
}
.chart__column .chart__column__Text{
  visibility: hidden;
  width: 120px;
  background-color:#EEEEEE;
  color: #EEEEEE;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}
.chart__column:hover .chart__column__Text{
  visibility: visible;
  margin: auto;
}
.chart__innerColumn{
  /* height: 100%; */
  width: 30px;
  justify-content: space-around;
  margin-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
  background: #41B6E6; 
  color: white;
  
  /* background: rgb(157,157,157); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(155,215,227,1) 0%, rgba(94,94,218,1) 96%); */
}
.chart__label{
  padding: 4px;
  background: #808080;
  margin-top: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
  border-radius: 5px;
  border:4px solid #808080;
  font-size: 20px;
  color: white;
}
.ModificationByFieldTable{
  grid-area: table;
  margin-top: 8rem;
 width: 100%;
  
  /* padding-right: 10rem; */
}
