.PieChartAnalysis__Wrapper{
display: grid;
grid-template-columns:38vw 1vw 47vw;
grid-template-rows: 40vh 2vh auto;
grid-template-areas: 
"pieChart . featureTable"
". . ."
"mainTable mainTable mainTable";


}
.PieChartAnalysis__Chart{
  grid-area:pieChart;
  margin: auto;
  background-color: #eeeeee;
  width: 100%;
  padding-top: 2.3vh;
  border-radius: 3px;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
}

.PieChartAnalysis__MainTable{
  grid-area: mainTable;
  margin-bottom: 3vh;
  background-color: #EEEEEE;
  padding: .5vw;
  border-radius: 3px;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
}

.PieChartAnalysis__FeaturesTable{
  grid-area: featureTable;
  max-height: 100%;
  overflow: auto;
  border-radius: 2px;
  background-color: #EEEEEE;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
}


.PieChartAnalysis__FeaturesTableHeader {
  position: sticky;
}


.PieChartAnalysis__FeaturesTableContainer {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 3px;
}



.PieChartAnalysis__FeaturesTableContainer td,
.PieChartAnalysis__FeaturesTableContainer th {
  /* border: 1px solid #ddd; */
  padding: 8px;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, 0.2);
}

.PieChartAnalysis__FeaturesTableContainer tr:nth-child(even) {
  background-color: white;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.1);
  
}

.PieChartAnalysis__FeaturesTableContainer tr:hover {
  background-color: #808080;
  cursor: pointer;
}

.PieChartAnalysis__FeaturesTableContainer th {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-align: center;
  width: 40vw;
  background-color: #444444;
  color: white;
  font-weight: 400;
  font-size: 16px;
   box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.7);
}