.PieChartAnalysis__Wrapper{
display: grid;
grid-template-columns:40vw 40vw;
grid-template-rows: 40vh auto;
grid-template-areas: 
"pieChart featureTable"
"mainTable mainTable";


}
.PieChartAnalysis__Chart{
  grid-area:pieChart;
  /* width: 100%; */
}

.PieChartAnalysis__MainTable{
grid-area: mainTable;
}
.PieChartAnalysis__FeaturesTable{
  grid-area: featureTable;
}


.PieChartAnalysis__FeaturesTableHeader {
  position: sticky;
}


.PieChartAnalysis__FeaturesTableContainer {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}







.PieChartAnalysis__FeaturesTableContainer td,
.PieChartAnalysis__FeaturesTableContainer th {
  border: 1px solid #ddd;
  padding: 8px;
}

.PieChartAnalysis__FeaturesTableContainer tr:nth-child(even) {
  background-color: #f2f2f2;
}

.PieChartAnalysis__FeaturesTableContainer tr:hover {
  background-color: #ddd;
}

.PieChartAnalysis__FeaturesTableContainer th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  width: 200px;
  background-color: #00447C;
  color: white;
}