.container {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 0.1px solid #c8c9c7;
  width: 100%;
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  
}
.open-tasks {
  margin-right: 1%;
  background-color: #eeeeee;
  margin-top: 0.7%;
  margin-bottom: 1.5%;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  padding: 0.7%;
}
.open-tasks-title {
  color: #444444;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.03);
  font-size: 24px;
  font-weight: 400;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
}
.container td,
.container th {
  border: 0.1px solid #eeeeee;
  padding: 0.5%;
  font-size: 16px;
  font-weight: 300;
}

.container tr:nth-child(even) {
  background-color: white;
}

.container tr:nth-child(odd) {
  background-color: #eeeeee;
}

.container tr:nth-child(odd):hover {
  background-color: #808080;
}

.container tr:nth-child(even):hover {
  background-color: #c8c9c7;
}

.container th {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: #444444;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: white;
  font-size: 19px;
  font-weight: 300;
}

.filtersContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 1%;
}

.header__table {
  position: sticky;
  font-size: 16px;
  font-weight: 300;
}

.filterSelectB__3 {
  width: 12vw;
  height: 7%;
  margin-top: 1%;
  margin-right: 1vw;
  border: none;
  border: white;
  background-color: white;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.update__Btn {
  width: 9.5vw;
  height: 4.4vh;
  margin-right: 1%;
  background-color: #808080;
  border-radius: 4px;
  margin-top: 6.3vh;
  border: none;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
.container__filterSelect {
  display: flex;
  height: 12vh;
  padding-right: 4%;
  padding-left: 2.5%;
  padding-bottom: 2%;
  background-color: white;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 1%;
}

.container {
  margin-bottom: 2vh;
}

.headers-h3 {
  margin-bottom: 0.5%;
  margin-top: 2.1vh;
  color: #444444;
  font-weight: 400;
  /* background-color: red; */
  padding-bottom: 2%;
}
.open-tasks-table {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  padding: 1%;
  background-color: white;
  border-radius: 3px;
}
