.container {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 0.1px solid #c8c9c7;
  width: 100%;
  color: #444444;
  font-size: 16px;
  font-weight: 300;

}
.open-tasks {
  background-color: #EEEEEE;
  margin-top: .7rem;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  padding: .7rem;
}
.open-tasks-title {
  /* text-align: center;
  margin-top: 4rem;
  font-size: 26px;
  font-weight: 500; */
  color: #444444;
  text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.03);
  font-size: 24px;
  font-weight: 400;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;

}
.container td,
.container th {
  border: 0.1px solid #EEEEEE;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 300;
}

.container tr:nth-child(even) {
  background-color: white;
}

.container tr:nth-child(odd) {
  background-color: #eeeeee;
}

.container tr:nth-child(odd):hover {
  background-color: #808080;
}

.container tr:nth-child(even):hover {
  background-color: #C8C9C7;
}


.container th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color:  #444444;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: white;
  font-size: 19px;
  font-weight: 300;
}

.filtersContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 1rem;
  /* background-color: saddlebrown; */
}

.header__table {
  position: sticky;
  font-size: 16px;
  font-weight: 300;
}

.filterSelectB__3 {
  width: 13rem;
  height: 2rem;
  margin-top: .3rem;
  margin-right: 1rem;
  border: none;
  border: white;
  background-color: white;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.1);
  /* position: relative; */

}


 .update__Btn {
  width: 8.5rem;
  height: 2.5rem;
  margin-right: 2rem;
  min-height: 2rem;
  background-color:#808080;
  border-radius: 4px;
  margin-top: 3rem;
  border: none;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18px;
  outline: none;
  cursor: pointer;
} 
.container__filterSelect {
  display: flex;
  height: 12vh;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-bottom: 2rem;
  background-color: white;
  box-shadow:  0 .1rem .3rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 1rem;
  /* background-color: blueviolet; */
  /* justify-items: center; */
  /* background-color: white; */
  /* margin: 2rem 15rem 2rem 15rem; */
  justify-content: space-between; 
}

.container {
  margin-bottom: 2vh;
}

.headers-h3 {
  margin-bottom: .5rem;
  margin-top: .4rem;
  color: #444444;
  font-weight: 400;
  /* background-color: red; */
  padding: .3rem;
}
.open-tasks-table {
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  padding: .7rem;
  background-color: white;
  border-radius: 3px;
}

/* .tabel__first__row__item {
  font-weight: 300;
  color: red;
} */
