.container {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.container td,
.container th {
  border: 1px solid #ddd;
  padding: 8px;
}

.container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container tr:hover {
  background-color: #ddd;
}

.container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: steelblue;
  color: white;
}
