.chart__Wrapper{
  display: grid;
  grid-template-columns:  90vw;
  grid-template-rows: 50vh auto;
  grid-template-areas: 
  " chart "
  " table "
  ;
  
  background-color: whitesmoke;
}
.chart{
  grid-area: chart;
  /* overflow-x: auto; */
  
  width: 99%;
  /* height:auto; */
 
  background-color: whitesmoke;
  /* margin: auto; */
  
  
  display: flex;
  justify-content: space-around  ;
  align-items: flex-end;
  
}

.chart__Each_column{
  display: flex;
  justify-content: space-around  ;
  align-items: flex-end;
  width: 100%;
 height: 100%;
}
.chart__column{
  text-align: center; 
 
  transition: height 1s ease-in;
  cursor: pointer;
}
.chart__column .chart__column__Text{
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
}
.chart__column:hover .chart__column__Text{
  visibility: visible;
  margin: auto;
}
.chart__innerColumn{
  /* height: 100%; */
  width: 30%;
  margin-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
  background:#1C4E80; 
  color: white;
  
  /* background: rgb(157,157,157); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(155,215,227,1) 0%, rgba(94,94,218,1) 96%); */
}
.chart__label{
  padding: 4px;
  background: gold;
  margin-top: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
  border-radius: 5px;
  border:4px solid rgb(252, 231, 113);
  font-size: 20px;
}
.ModificationByFieldTable{
  grid-area: table;
  position: relative;
  margin-top: 100px;
}
