nav {
    font-family: 'Roboto Slab', serif;
}

.sidebar__header-wrapper{
    /* background-color:#405c0b; */
    height: 10vh;
    grid-area: header;
    background-color:white;
    text-align: center;
    padding-top: 3vh;
    color: #00447C;
    font-weight: 800;
    font-size: 29px;
    font-family: 'Roboto Slab', serif;
  }
  .menu__wrapper{
    margin-top: 8vh;
    /* background-color:#5c0b0b; */
    padding-top: 1rem;
    height: 80vh;
    grid-area: menu;
    background-color: #EEEEEE;
  }
  
  .sidebar__footer{
   height: 5vh;
   background-color: #00447C;
   grid-area: footer;
   color:black;
   text-align: center;
   font-family: 'Anton', sans-serif;
   letter-spacing: 2.5px;
   font-size: 16px;

  }
.menu__link {
    /* background-color:#b98d13; */
    font-size: 25px;
    color: #808080;
    position: relative;
    line-height: 3rem;
    transition: all 0.4s
}

.menu__link:hover {
    /* background-color:#b98d13; */
    font-size: 26px;
    color: #444444;
}

.menu__link--selected {
    font-size: 26px !important;
    color: #444444;
}

.jiraph__logo {
    height: 33px;
}

.menu__subLink {
    /* background-color:#7713b9; */
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    color: #444444;
    line-height: 2rem;
    transition: all 0.4s;
}
.menu__subLink:hover {
    font-size: 14px;
    color: #0076CE;
}

.menu-subLink--selected {
    font-size: 14px;
    color: #0076CE;
}

 .register__logo {
    margin-right: 15px;
    width: 23px;
    height: 23px;
    opacity: 0.6;
  }


  .admin__logo{
    margin-right: 15px;
    width: 23px;
    height: 23px;
    opacity: 0.6;
  }

  .status__logo{
    margin-right: 15px;
    width: 23px;
    height: 27px;
    opacity: 0.6;
    padding-top: 3px;
  }

  .trademark__logo{
    margin-right: 15px;
    width: 23px;
    height: 23px;
    opacity: 0.6;
  }
  .analysis__logo{
    margin-right: 15px;
    width: 23px;
    height: 23px;
    opacity: 0.6;
  }

  .register__logo:hover {
    width: 23px;
    height: 23px;
    opacity: 1;
  }

  .analysis-options{
      transform: scaleY(0.5) translateY(-50%);
      opacity: 0;
      position: relative;
      top:-20px;
      transition: 0.6s all;
  }

  .analysis-options:hover, .analysis-options:active, .analysis-options--show{
    transform: scaleY(1) translateY(0%);
    top:0px;
    opacity: 1;
}

.analysis-options--select{
    transform: scaleY(1) translateY(0%);
    top:0px;
    opacity: 1;
}