.statusPageContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.statusPage__charts {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.statusPage__barChart {
  flex: 1;
  background-color: #fff;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.statusPage__barChart__filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.statusPage__pieCharts {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.statusPage__pieChart {
  display: flex;
  flex-direction: column;
}

.statusPage__pieChart:first-child {
  margin-right: 4rem;
}

.filterSelect-pie {
  margin-bottom: 3rem;
}

.statusPage__table {
  width: 100%;
  height: 500px;
  margin: auto;
}

.statupPage__circularProgress {
  height: 50%;
  text-align: center;
  margin-top: 2rem;
<<<<<<< HEAD
}
#NewTaskLogo {
  cursor: pointer;
  margin: 1%;
}
=======
}
>>>>>>> devStatus
