.statusPageContainer {
  display: flex;
}
.statuspage__dashboard {
  display: flex;
  width: auto;
  margin: auto;
}
.statuspage__table {
  display: flex;
}
.statuspage__chart {
  display: flex;
}

.statuspage__pie {
  display: flex;
}
