.statusPageContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.statuspage__dashboard {
  /* display: flex; */
}
.statusPageContainerTableColumn {
  display: flex;
}
.statuspage__table {
  width: 50;
  height: 500px;
  overflow: scroll;
  margin: auto;
}
.statuspage__chartpie {
  display: flex;
}
.statuspage__chart {
  width: 50%;
  margin-top: 5%;
}

.statuspage__pie {
  display: flex;
  margin-left: 5%;
}
