.DeletedJiraTicketsWrapper {
  display: grid;
  grid-template-columns: 2vw 82vw auto;
  grid-template-rows: 7vh 15vh 5vh auto;
  grid-template-areas: "header header header " ". filterButtons ." ". . ." "chartColors chart .";
  background-color: #C8C9C7;
}

.DeletedJiraTickets__Table {
  grid-area: table;
}

.DeletedJiraTickets__Title {
  font-weight: 500;
  grid-area: header;
  text-align: center;
  color: #00447C;
  background-color: white;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  padding-top: 2vh;
}
.filter__header__item{
  justify-content: space-between;
  width: 12rem;
  /* background-color: red; */
}
.DeletedJiraTickets__Filter__date{
  box-shadow: inset 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  height:2.25rem;
  width: 13rem;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 15px;
  border: none;
}
.DeletedJiraTickets__Filters__wrapper {
  grid-area: filterButtons;
  display: grid;
  height: 7rem;
  background-color: #eeeeee;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}


.DeletedJiraTickets__Filters__headers{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #0076ce;
  text-shadow: 0 .1rem .3rem#00447c28;
}


.DeletedJiraTickets__Filters__fields {
  display: flex;
  justify-content: space-between;
}

.DeletedJiraTickets__Chart {
  grid-area: chart;
}

.DeletedJiraTickets__Filter {
  width: 13rem;
  /* border: 0.1px solid black; */
  box-sizing: border-box;
  background-color:   #EEEEEE;
  color: black;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
}