@media screen and (max-width: 20000px){
.ModificationByField__Wrapper {
  display: grid;
  grid-template-columns: 1vw 86vw auto;
  grid-template-rows: 7vh 13vh 5vh auto;
  grid-template-areas:
    "header header header "
    ". filterButtons ."
    ". . ."
    "chartColors chart .";
  background-color: #c8c9c7;
}
.ModificationByField__Table {
  grid-area: chart;
}
.ModificationByField__MainTitle {
  font-weight: 500;
  grid-area: header;
  text-align: center;
  color: #00447c;
  background-color: white;
  height: 100%;
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  padding-top: 2vh;
}
.ModificationByField__Chart {
  grid-area: chart;
}
.ModificationByField__Filters__wrapper {
  
  grid-area: filterButtons;
  display: grid;
  height: 15vh;
  background-color: #eeeeee;
  align-items: center;
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: .5%;
  padding-bottom: .1%;
  border-radius: 3px;
  margin-top: 1%;
}

.ModificationByField__Filters__headers{
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  color: #444444;
  text-shadow: 0 .1rem .3rem#00447c28;
}

.filter__header__item{
  justify-content: space-between;
}

.ModificationByField__Filters__fields {
  display: flex;
  justify-content: space-between;
}


.ModificationByField__Filter{
 width: 9.5vw;
 box-sizing: border-box;
 background-color:   #EEEEEE;
 color: black;
 box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.1);
}
.Select {
  background-color: #0076CE;
}
.ModificationByField__Filter__date{
  box-shadow: inset 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  height: 4.7vh;
  width: 9.5vw;
  border: none;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  background-color: white;
  padding: 6%;
}
.uni {
  padding-bottom: 4%;
}

.ModificationByField__Filters__Header button{
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  height: 3.9vh;
  background-color: white;
  width: 10vw;
  border: none;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 4%;
  font-size: 16px;
}
.ModificationByField__Submit{
  width: 15%;
  border-radius: 15px;
  border: rgba(0, 0, 0, 0.1);
  background-color: #eeeeee;
}
.chart_Colors {
  margin-left: 10px;
  grid-area: chartColors;
  justify-content: center;
  justify-content: space-around;
}
.chart_Colors_Status {
  margin-bottom: 5px;
  font: bolder;
  font-size: 20px;
  color: white;
  background-color: #d9514eff;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}
.chart_Colors_Priority {
  margin-bottom: 5px;
  font: bolder;
  font-size: 20px;
  color: white;
  background-color: #2a2b2dff;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}
.chart_Colors_QaRepresentative {
  margin-bottom: 5px;
  font: bolder;
  font-size: 20px;
  color: white;
  background-color: #2da8d8ff;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

.ModificationByField__Filters__Header  p {
  text-align: center;
  color: #444444;
  font-weight: bold;
}

#saveFilterBTN, #deleteFilterBTN {
  background : #41B6E6;
  color: white;
  margin-top: 5%;
}

#saveFilterBTN:hover, #deleteFilterBTN:hover {
  background-color: #56a9ca;
}

.filter2-item__ModificationByField {
  display: grid;
  grid-template-columns: auto;
  width: 10vw;
  height: 4.25vh;
  margin-top: 16%;
  text-align: center;
  align-items: center;
  box-shadow: inset 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 15px;
}

.filter1-item__ModificationByField {
  display: grid;
  grid-template-columns: auto;
  margin-top: 16%;
}
}
