.forgetPassword-wrapper {
    background-color: #C8C9C7;
    display: grid;
    grid-template-columns: 23vw 41vw auto;
    grid-template-rows: 27vh 50vh auto;
    grid-template-areas: 
    ". . ."
    ". box ."
    ". . .";
}

.forgetPassword{
    grid-area: box;
    font-family: 'Roboto Slab', serif;
    background-color: #EEEEEE;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    box-shadow:0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.header__forgetPass{
    font-size: 30px;
    margin-top: 3rem;
    color: #444444;
}


#sendToMailForm {

    align-items: center;
    text-align: center;
    margin: auto;
    width: 550px;
    padding-top: 6rem;

}

#sendToMailForm input {
    align-items: center;
    text-align: center;
    position: inherit;
    width: 98%;
    height: 3rem;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5rem;
    box-shadow:inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    border:none;
}

#sendToMailForm button {
    width: 98%;
    height:2.5rem;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    background-color: #808080;
    border: none;
    color:#FFFFFF;
    box-shadow:0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
  }

