
.ChangesByParentIdWrapper{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1vw 86vw auto;
  grid-template-rows: 7vh 14vh 5vh auto;
  grid-template-areas: 
  "header header header "
  ". filterButtonsID ."
  ". . ."
  ". chart .";
  
  background-color: #C8C9C7;
  }
.ChangesByParentId__DateFilter{
    box-shadow:inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    height:2.25rem;
    width: 13rem;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 15px;
    border: none;
}
  .ChangesByParentId__Chart{
    grid-area: chart;
    margin: auto;
   
  }

  .ChangesByParentId__Title{
    font-weight: 500;
    grid-area: header;
    text-align: center;
    color: #00447C;
    background-color: white;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    padding-top: 2vh;
  }

  .ChangesByParentId__Filters__wrapper {
  
    grid-area: filterButtonsID;
    display: grid;
    height: 15vh;
    background-color: #eeeeee;
    align-items: center;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: .5%;
    padding-bottom: .1%;
    border-radius: 3px;
    margin-top: 1%;
  }
  
  .ChangesByParentId__Filters__headers{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #444444;
    text-shadow: 0 .1rem .3rem#00447c28;
  }
  
  .filter__header__item{
    justify-content: space-between;
    width: 9.5vw;
  }
  
  .ChangesByParentId__Filters__fields {
    display: flex;
    justify-content: space-between;
  }
  
  
  .ChangesByParentId__Filter{
   width: 9.5vw;
   /* border: 0.1px solid black; */
   box-sizing: border-box;
   background-color:   #EEEEEE;
   color: black;
   border-radius: 3px;
   box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  }

  .ChangesByParentId__Filter__date{
    box-shadow: inset 0 .1rem 0.3rem rgba(0, 0, 0, 0.2);
    /* border: .1px solid rgba(0, 0, 0, 0.2); */
    height: 2.4rem;
    width: 9.5vw;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 15px;
  }
  .ChangesByParentId__Filter__i{
    padding-right: .7rem;
    width: 9.5vw;
    box-sizing: border-box;
    background-color:   white;
    border: none;
    font-size: 16px;
    text-align: center;
    color: black;
    box-shadow:inset 0px 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    padding-top:0.5rem;
    padding-bottom:0.5rem;
  
  }

  .ChangesByParentId__Filter{
    width: 11vw;
    font-size: 16px;
    box-sizing: border-box;
    background-color:   white;
    border: none;
    text-align: center;
    color:black;
  }
 
  
  
.Date_header > p {
  text-align: center;
  color: #444444;
  font-weight: bold;
  padding-bottom: 1%;
}
  
#saveFilterBTN, #deleteFilterBTN {
  background : #41B6E6;
  color: white;
  margin-top: 5%;
}

#saveFilterBTN:hover, #deleteFilterBTN:hover {
  background-color: #56a9ca;
}

.filter2-item {
  display: grid;
  grid-template-columns: auto;
  width: 10vw;
  height: 4.25vh;
  margin-top: 13%;
  text-align: center;
  align-items: center;
  box-shadow: inset 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 15px;
}

.filter1-item {
  display: grid;
  grid-template-columns: auto;
  margin-top: 13%;
  width: 10vw;
  height: 4.2vh;
  text-align: center;
  align-items: center;
  border: none;
  font-size: 15px;
}


  
.ChangesByParentId___Filters__Header button{
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
  height: 3.9vh;
  background-color: white;
  width: 10vw;
  border: none;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 4%;
  font-size: 16px;
}

#closeFilterBTN{
  background :rgb(236, 29, 29);
  color: white;
  margin-top: 5%;
}

#closeFilterBTN:hover {
  background-color: rgb(224, 14, 14);
}