
    .adminPage {
    background-color: white;
    }
    .TableColHeeader2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        background-color: #EEEEEE;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        padding-right: 5%;
        padding-top: .7%;
        height: 5vh;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: .3%;
        font-size: 18px;
        font-weight: 500;
    }
    

    .TableBody2__audit input, .TableCreateRow input {
        width: 18%;
        height: 3%;
        font-size: 17px;
        border:none;
        text-align: center;
        background-color: white;
        margin: .5%;
        padding: .5%;
    }
    .TableBody2__audit select, .TableCreateRow select {
        width: 18%;
        height: 4%;
        padding: 1%;
        margin: 1%;
        border:none;
        text-align: center;
        background-color: white;
        border: none;
        box-shadow: inset 0 .1rem .3rem rgba(0, 0, 0, 0.2);
    }

    .audit__Filters{
        grid-area: filterButtons;
        display: flex;
        align-items: center;
        text-align: center;
        height: 10vh;
        border-radius: 3px;
        margin-top: 1vh;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 2%;
        font-size: 19px;
        font-weight: 500;
        background-color: #EEEEEE;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
      }

      .audit__Filter__date {
        border: none;
        box-shadow:inset 0 .1rem .3rem rgba(0, 0, 0, 0.2);
        margin-left: .5%;
        margin-right: 3%;
        padding: .5%;
      }

      .TableBody2__audit {
          background-color:#EEEEEE;
          margin: .3%;
          padding: .3%;
      }

      .input__TableBody__item {
          background-color: mediumvioletred;
      } 

      .AdminTable {
          background-color: #C8C9C7;
      }

      .auditRow-wrapper {
          background-color: #808080;
          margin-left: 2%;
          margin-right: 2%;
          border-radius: 3px;
      }

      .backToUserList__btn {
          height: 3rem;
          width: 8rem;
          font-size: 16px;
          border: none;
          box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.2);
          background-color: #444444;
          margin-top: .5%;
          color: white;
          margin-left: 2%;
      }